html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  transition: color 1s, background-color 1s;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: solid 2px transparent;
  background-clip: content-box;
}

.page {
  display: block;
  width: 100vw;
  height: 100vh;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  border-right-width: 3px;
  border-right-style: solid;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-right-color: inherit;
  }
  100% {
    border-color: transparent;
  }
}
body.dark-mode {
  background-color: #252525;
  color: white;
}
body.dark-mode::-webkit-scrollbar-thumb {
  background-color: white;
}
body.dark-mode::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}
body.dark-mode div#navigationBar {
  background-color: #191919;
}
body.dark-mode div#navigationBar div.nav-container > div.nav-sidebar-container div#navHamburger .bar1, body.dark-mode div#navigationBar div.nav-container > div.nav-sidebar-container div#navHamburger .bar2, body.dark-mode div#navigationBar div.nav-container > div.nav-sidebar-container div#navHamburger .bar3 {
  background-color: white;
}
body.dark-mode div#navigationBar div.nav-container > div.nav-sidebar-container ul.nav-sidebar {
  background-color: #191919;
  color: white;
}
body.dark-mode div#navigationBar div.nav-container > div.nav-sidebar-container ul.nav-sidebar::before {
  background-color: white;
}
body.dark-mode div#navigationBar div.nav-container > div.nav-sidebar-container ul.nav-sidebar li::before {
  background-color: white;
}
body.dark-mode div#header div.introduction div.intro-text p#headerCaption {
  color: #dd812b;
  border-right-color: #dd812b;
}
body.dark-mode div#header div.introduction div.appearance-toggle-container svg#roundMoon {
  filter: drop-shadow(5px 5px 2px black);
  animation: moonrise 2s ease;
}
@keyframes moonrise {
  0% {
    transform: translateY(200px) rotate(-45deg);
    opacity: 0;
    filter: none;
  }
  100% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
}
body.dark-mode div#header div.introduction div.appearance-toggle-container svg#shiningSun {
  opacity: 0;
  pointer-events: none;
  animation: sundown 2s ease;
}
@keyframes sundown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}
body.dark-mode div#header div.shortcut-btns div.shortcut-btn {
  border-color: white;
}
body.dark-mode div#header div.shortcut-btns div.shortcut-btn:hover {
  background-color: white;
  color: black;
  border-color: #252525;
  outline-color: white;
}
body.dark-mode div#about div.about-container p#aboutCaption {
  color: #dd812b;
  border-right-color: #dd812b;
}
body.dark-mode div#projects div.projects-container p#projectsCaption {
  color: #dd812b;
  border-right-color: #dd812b;
}

body.light-mode {
  background-color: white;
  color: black;
}
body.light-mode::-webkit-scrollbar-thumb {
  background-color: black;
}
body.light-mode::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}
body.light-mode div#navigationBar {
  background-color: white;
  box-shadow: 5px 5px 10px darkgrey;
}
body.light-mode div#navigationBar div.nav-container > div.nav-sidebar-container div#navHamburger .bar1, body.light-mode div#navigationBar div.nav-container > div.nav-sidebar-container div#navHamburger .bar2, body.light-mode div#navigationBar div.nav-container > div.nav-sidebar-container div#navHamburger .bar3 {
  background-color: black;
}
body.light-mode div#navigationBar div.nav-container > div.nav-sidebar-container ul.nav-sidebar {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 10px darkgrey;
}
body.light-mode div#navigationBar div.nav-container > div.nav-sidebar-container ul.nav-sidebar::before {
  background-color: black;
}
body.light-mode div#navigationBar div.nav-container > div.nav-sidebar-container ul.nav-sidebar li::before {
  background-color: black;
}
body.light-mode div#header div.introduction div.intro-text p#headerCaption {
  color: black;
  border-right-color: black;
}
body.light-mode div#header div.introduction div.appearance-toggle-container svg#roundMoon {
  opacity: 0;
  pointer-events: none;
  animation: moondown 2s ease;
}
@keyframes moondown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}
body.light-mode div#header div.introduction div.appearance-toggle-container svg#shiningSun {
  filter: drop-shadow(5px 5px 2px darkgrey);
  animation: sunrise 2s ease;
}
@keyframes sunrise {
  0% {
    transform: translateY(200px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
}
body.light-mode div#header div.shortcut-btns div.shortcut-btn {
  border-color: black;
}
body.light-mode div#header div.shortcut-btns div.shortcut-btn:hover {
  background-color: black;
  color: white;
  border-color: white;
  outline-color: black;
}
body.light-mode div#about div.about-container p#aboutCaption {
  color: black;
  border-right-color: black;
}
body.light-mode div#projects div.projects-container p#projectsCaption {
  color: black;
  border-right-color: black;
}

div#navigationBar {
  width: 100vw;
  height: 65px;
  position: fixed;
  z-index: 99;
  transition: background-color 1s, box-shadow 1s;
  animation: slide-down 3.5s ease;
}
@keyframes slide-down {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
div#navigationBar div.nav-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: auto;
}
div#navigationBar div.nav-container div.side-flex {
  flex: 1;
}
div#navigationBar div.nav-container div.nav-sidebar-container {
  position: relative;
}
div#navigationBar div.nav-container div.nav-sidebar-container div#navHamburger {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: min-content;
  position: relative;
  top: 19.5px;
  left: 0;
}
div#navigationBar div.nav-container div.nav-sidebar-container div#navHamburger div.bar1, div#navigationBar div.nav-container div.nav-sidebar-container div#navHamburger div.bar2, div#navigationBar div.nav-container div.nav-sidebar-container div#navHamburger div.bar3 {
  width: 35px;
  height: 4px;
  border-radius: 5px;
  transition: transform 1s, width 0.8s, background-color 1s;
  transform-origin: center;
}
div#navigationBar div.nav-container div.nav-sidebar-container div#navHamburger:hover {
  cursor: pointer;
}
div#navigationBar div.nav-container div.nav-sidebar-container ul.nav-sidebar {
  position: absolute;
  top: 70px;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: max-height 0.8s, background-color 1s, color 1s, box-shadow 1s;
  list-style: none;
  border-radius: 5px;
}
div#navigationBar div.nav-container div.nav-sidebar-container ul.nav-sidebar::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 5px;
  height: calc(100% - 8px);
  border-radius: 5px;
  transition: background-color 1s;
}
div#navigationBar div.nav-container div.nav-sidebar-container ul.nav-sidebar li {
  padding: 10px 25px;
}
div#navigationBar div.nav-container div.nav-sidebar-container.active div#navHamburger .bar1 {
  transform: translateY(11px) rotate(45deg);
}
div#navigationBar div.nav-container div.nav-sidebar-container.active div#navHamburger .bar2 {
  width: 0;
}
div#navigationBar div.nav-container div.nav-sidebar-container.active div#navHamburger .bar3 {
  transform: translateY(-11px) rotate(-45deg);
}
div#navigationBar div.nav-container div.nav-sidebar-container.active ul.nav-sidebar {
  max-height: 300px;
}
div#navigationBar div.nav-container div.nav-sidebar-container.active ul.nav-sidebar::before {
  animation: dropdown 0.6s ease;
}
@keyframes dropdown {
  0% {
    height: 0;
  }
  40% {
    height: 0;
  }
  100% {
    height: calc(100% - 8px);
  }
}
div#navigationBar div.nav-container div.nav-sidebar-container.active ul.nav-sidebar li {
  position: relative;
}
div#navigationBar div.nav-container div.nav-sidebar-container.active ul.nav-sidebar li::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 9px;
  width: 0;
  height: 5px;
  transition: width 0.3s, background-color 1s;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
div#navigationBar div.nav-container div.nav-sidebar-container.active ul.nav-sidebar li:hover {
  cursor: pointer;
}
div#navigationBar div.nav-container div.nav-sidebar-container.active ul.nav-sidebar li:hover::before {
  width: 10px;
}
div#navigationBar div.nav-container h1.page-title {
  flex: 2;
  font-size: 24px;
  text-align: center;
  margin: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: color 0.1s;
}
div#navigationBar div.nav-container h1.page-title:hover {
  cursor: pointer;
}

div#header {
  display: flex;
  position: relative;
}
div#header div.introduction {
  margin: auto;
}
div#header div.introduction div.intro-text {
  font-size: 7vw;
  text-align: center;
  margin-top: 150px;
}
div#header div.introduction div.intro-text p#headerCaption {
  display: none;
  margin: 0 auto;
  transition: color 1s;
}
div#header div.introduction div.appearance-toggle-container svg#roundMoon, div#header div.introduction div.appearance-toggle-container svg#shiningSun {
  position: absolute;
  top: 16%;
  left: calc((100% - 225px) / 2);
  width: 225px;
  height: 225px;
  transition: width 0.5s, height 0.5s, left 0.5s, filter 1s;
}
div#header div.introduction div.appearance-toggle-container svg#roundMoon:hover, div#header div.introduction div.appearance-toggle-container svg#shiningSun:hover {
  left: calc((100% - 250px) / 2);
  width: 250px;
  height: 250px;
  cursor: pointer;
}
div#header div.introduction div.shortcut-btns {
  position: absolute;
  margin-top: 35px;
}
div#header div.introduction div.shortcut-btns div.shortcut-btn {
  display: inline-block;
  padding: 10px 2.5vw;
  margin-right: 15px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  outline: solid 2px transparent;
  transition: background-color 0.4s, outline-color 0.4s;
}
div#header div.introduction div.shortcut-btns div.shortcut-btn:hover {
  cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div#header div.introduction div.shortcut-btns div.shortcut-btn.about-shortcut {
  animation: fade-in 4.2s ease;
}
div#header div.introduction div.shortcut-btns div.shortcut-btn.projects-shortcut {
  animation: fade-in 4.5s ease;
}
div#header.activated div.introduction > div.intro-text > p#headerCaption {
  display: block;
  animation: typing 2s steps(15, end), caret 1s step-end infinite 2.2s;
}

div#about {
  display: flex;
}
div#about div.about-container {
  margin: 10px auto auto auto;
  font-size: 6vw;
}
div#about div.about-container p#aboutCaption {
  display: none;
  margin: 0;
}
div#about.activated div.about-container p#aboutCaption {
  display: block;
  animation: typing 1.4s steps(8, end), caret 1s step-end infinite 1.6s;
}

div#projects {
  display: flex;
}
div#projects div.projects-container {
  margin: 10px auto auto auto;
  font-size: 6vw;
}
div#projects div.projects-container p#projectsCaption {
  display: none;
  margin: 0;
}
div#projects.activated div.projects-container p#projectsCaption {
  display: block;
  animation: typing 1.4s steps(8, end), caret 1s step-end infinite 1.6s;
}

/*# sourceMappingURL=styles.css.map */
