$dark-mode-dark-colour: rgb(25, 25, 25);
$dark-mode-primary-colour: rgb(37, 37, 37);
$dark-mode-light-colour: white;
$dark-mode-orange-font: rgb(221, 129, 43);

$appearance-change-duration: 1s;

$navbar-height: 65px;

$main-font: 'Poppins', sans-serif;
$mono-font: 'Roboto Mono', monospace;

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main-font;
    overflow-x: hidden;
    transition: color $appearance-change-duration, 
                background-color $appearance-change-duration;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        border: solid 2px transparent;
        background-clip: content-box;
    }
}

// STATIC
.page {
    display: block;
    width: 100vw;
    height: 100vh;
}

.mono {
    font-family: $mono-font;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden;
    border-right-width: 3px;
    border-right-style: solid;
}

@include keyframes(typing) {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@include keyframes(caret) {
    0% {
        border-color: transparent;
    }
    50% {
        border-right-color: inherit;
    }
    100% {
        border-color: transparent;
    }
}

// BODY
body.dark-mode {
    background-color: $dark-mode-primary-colour;
    color: white;

    &::-webkit-scrollbar-thumb {
        background-color: $dark-mode-light-colour;
        &:hover {
            background-color: rgb(178, 178, 178);
        }
    }

    div#navigationBar {
        background-color: $dark-mode-dark-colour;

        div.nav-container > div.nav-sidebar-container {
            div#navHamburger {
                .bar1, .bar2, .bar3 {
                    background-color: white;
                }
            }

            ul.nav-sidebar {
                background-color: $dark-mode-dark-colour;
                color: white;

                &::before {
                    background-color: white;
                }

                li::before {
                    background-color: white;
                }
            }
        }
    }

    div#header {
        div.introduction {
            div.intro-text { 
                p#headerCaption {
                    color: $dark-mode-orange-font;
                    border-right-color: $dark-mode-orange-font;
                }
            }

            div.appearance-toggle-container {
                svg#roundMoon {
                    filter: drop-shadow(5px 5px 2px black);
                    @include keyframes(moonrise) {
                        0% {
                            transform: translateY(200px) rotate(-45deg);
                            opacity: 0;
                            filter: none;
                        }
                        100% {
                            transform: translateY(0) rotate(0);
                            opacity: 1;
                        }
                    }
                    animation: moonrise 2s ease;
                }
    
                svg#shiningSun {
                    opacity: 0;
                    pointer-events: none;
                    @include keyframes(sundown) {
                        0% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        100% {
                            transform: translateY(200px);
                            opacity: 0;
                        }
                    }
                    animation: sundown 2s ease;
                }
            }
        }

        div.shortcut-btns {
            div.shortcut-btn {
                border-color: $dark-mode-light-colour;
                &:hover {
                    background-color: $dark-mode-light-colour;
                    color: black;
                    border-color: $dark-mode-primary-colour;
                    outline-color: $dark-mode-light-colour;
                }
            }
        }
    }

    div#about {
        div.about-container {
            p#aboutCaption {
                color: $dark-mode-orange-font;
                border-right-color: $dark-mode-orange-font;
            }
        }
    }

    div#projects {
        div.projects-container {
            p#projectsCaption {
                color: $dark-mode-orange-font;
                border-right-color: $dark-mode-orange-font;
            }
        }
    }
}

// Light mode
body.light-mode {
    background-color: white;
    color: black;

    &::-webkit-scrollbar-thumb {
        background-color: black;
        &:hover {
            background-color: rgb(80, 80, 80);
        }
    }

    div#navigationBar {
        background-color: white;
        box-shadow: 5px 5px 10px darkgrey;

        div.nav-container > div.nav-sidebar-container {
            div#navHamburger {
                .bar1, .bar2, .bar3 {
                    background-color: black;
                }
            }

            ul.nav-sidebar {
                background-color: white;
                color: black;
                box-shadow: 5px 5px 10px darkgrey;

                &::before {
                    background-color: black;
                }

                li::before {
                    background-color: black;
                }
            }
        }
    }

    div#header {
        div.introduction {
            div.intro-text { 
            
                p#headerCaption {
                    color: black;
                    border-right-color: black;
                }
            }
            
            div.appearance-toggle-container {
                svg#roundMoon {
                    opacity: 0;
                    pointer-events: none;
                    @include keyframes(moondown) {
                        0% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        100% {
                            transform: translateY(200px);
                            opacity: 0;
                        }
                    }
                    animation: moondown 2s ease;
                }

                svg#shiningSun {
                    filter: drop-shadow(5px 5px 2px  darkgrey);
                    @include keyframes(sunrise) {
                        0% {
                            transform: translateY(200px) rotate(45deg);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(0) rotate(0);
                            opacity: 1;
                        }
                    }
                    animation: sunrise 2s ease;
                }
            }
        }

        div.shortcut-btns {
            div.shortcut-btn {
                border-color: black;
                &:hover {
                    background-color: black;
                    color: white;
                    border-color: white;
                    outline-color: black;
                }
            }
        }
    }

    div#about {
        div.about-container {
            p#aboutCaption {
                color: black;
                border-right-color: black;
            }
        }
    }
    
    div#projects {
        div.projects-container {
            p#projectsCaption {
                color: black;
                border-right-color: black;
            }
        }
    }
}

// NAVIGATION
div#navigationBar {
    width: 100vw;
    height: $navbar-height;
    position: fixed;
    z-index: 99;
    transition: background-color $appearance-change-duration, 
                box-shadow $appearance-change-duration;

    @include keyframes(slide-down) {
        0% {
            transform: translateY(-500px);
        }
        100% {
            transform: translateY(0);
        }
    }
    animation: slide-down 3.5s ease;

    div.nav-container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 100%;
        margin: auto;

        div.side-flex {
            flex: 1;
        }

        div.nav-sidebar-container {
            position: relative;

            div#navHamburger {
                display: flex;
                flex-direction: column;
                gap: 7px;
                width: min-content;
                position: relative;
                top: calc(($navbar-height - ((7px * 2) + (4px * 3))) / 2);
                left: 0;

                div.bar1, div.bar2, div.bar3 {
                    width: 35px;
                    height: 4px;
                    border-radius: 5px;
                    transition: transform 1s, width 0.8s, background-color $appearance-change-duration;
                    transform-origin: center;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            ul.nav-sidebar {
                position: absolute;
                top: calc($navbar-height + 5px);
                left: 0;
                max-height: 0;
                overflow: hidden;
                padding: 0;
                margin: 0;
                transition: max-height 0.8s, 
                            background-color $appearance-change-duration, 
                            color $appearance-change-duration,
                            box-shadow $appearance-change-duration;
                list-style: none;
                border-radius: 5px;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 5px;
                    height: calc(100% - 8px);
                    border-radius: 5px;
                    transition: background-color $appearance-change-duration;
                }

                li {
                    padding: 10px 25px;
                }
            }

            &.active {
                div#navHamburger {
                    .bar1 {
                        transform: translateY(11px) rotate(45deg);
                    }
                    .bar2 {
                        width: 0;
                    }
                    .bar3 {
                        transform: translateY(-11px) rotate(-45deg);
                    }
                }

                ul.nav-sidebar {
                    max-height: 300px;

                    &::before {
                        @include keyframes(dropdown) {
                            0% {
                                height: 0;
                            }
                            40% {
                                height: 0;
                            }
                            100% {
                                height: calc(100% - 8px);
                            }
                        }
                        animation: dropdown 0.6s ease;
                    }

                    li {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 20px;
                            left: 9px;
                            width: 0;
                            height: 5px;
                            transition: width 0.3s, background-color $appearance-change-duration;
                            border-bottom-right-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                        &:hover {
                            cursor: pointer;
                            &::before {
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }

        h1.page-title {
            flex: 2;
            font-size: 24px;
            text-align: center;
            margin: auto;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            transition: color 0.1s;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

// Header
div#header {
    display: flex;
    position: relative;

    div.introduction {
        margin: auto;

        div.intro-text {
            font-size: 7vw;
            text-align: center;
            margin-top: 150px;

            p#headerCaption {
                display: none;
                margin: 0 auto;
                transition: color $appearance-change-duration;
            }
        }

        div.appearance-toggle-container {
            svg#roundMoon, svg#shiningSun {
                position: absolute;
                top: 16%;
                left: calc((100% - 225px) / 2);
                width: 225px;
                height: 225px;
                transition: width 0.5s, height 0.5s, left 0.5s, filter 1s;
                
                &:hover {
                    left: calc((100% - 250px) / 2);
                    width: 250px;
                    height: 250px;
                    cursor: pointer;
                }
            }
        }

        div.shortcut-btns {
            position: absolute;
            margin-top: 35px;

            div.shortcut-btn {
                display: inline-block;
                padding: 10px 2.5vw;
                margin-right: 15px;
                border-radius: 50px;
                border-style: solid;
                border-width: 2px;
                outline: solid 2px transparent;
                transition: background-color 0.4s, outline-color 0.4s;

                &:hover {
                    cursor: pointer;
                }
                
                @include keyframes(fade-in) {
                    0% {
                        opacity: 0;
                    }
                    80% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }

                &.about-shortcut {
                    animation: fade-in 4.2s ease;
                }

                &.projects-shortcut {
                    animation: fade-in 4.5s ease;
                }
            }
        }
    }

    &.activated {
        div.introduction > div.intro-text > p#headerCaption {
            display: block;
            animation: typing 2s steps(15, end), caret 1s step-end infinite 2.2s;
        }
    }
}


// About
div#about {
    display: flex;
    div.about-container {
        margin: 10px auto auto auto;
        font-size: 6vw;

        p#aboutCaption {
            display: none;
            margin: 0;
        }
    }

    &.activated {
        div.about-container {
            p#aboutCaption {
                display: block;
                animation: typing 1.4s steps(8, end), caret 1s step-end infinite 1.6s;
            }
        }
    }
}


// Projects
div#projects {
    display: flex;
    div.projects-container {
        margin: 10px auto auto auto;
        font-size: 6vw;

        p#projectsCaption {
            display: none;
            margin: 0;
        }
    }

    &.activated {
        div.projects-container {
            p#projectsCaption {
                display: block;
                animation: typing 1.4s steps(8, end), caret 1s step-end infinite 1.6s;
            }
        }
    }
}
